<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>好房天下</title>
    <link rel="stylesheet" href="framework/bootstrap-3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="framework/ng-grid-2.0.12/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="framework/others/css/select.css">
    <link rel="stylesheet" type="text/css" href="framework/others/css/checkbox-build.css">
    <link rel="stylesheet" type="text/css" href="framework/others/css/checkbox-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="framework/others/css/bootstrap-dialog.css"/>
    <script src="framework/jquery-1.9.1.js"></script>
    <script src="framework/angular-1.3.0.14/angular.js"></script>
    <script src="framework/angular-1.3.0.14/angular-animate.min.js"></script>
    <script src="framework/angular-1.3.0.14/angular-cookies.min.js"></script>
    <script src="framework/angular-1.3.0.14/ng-file-upload.min.js"></script>
    <script src="framework/angular-ui-router.js"></script>
    <script src="framework/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="framework/ng-grid-2.0.12/ng-grid.debug.js"></script>
    <script src="framework/bootstrap-3.0.0/js/bootstrap.min.js"></script>
    <script src="framework/bootstrap-paginator.js"></script>
    <script src="framework/others/js/jquery.bootstrap.teninedialog.v3.min.js"></script>
    <script src="framework/others/js/bootstrap-dialog.js"></script>
    <script src="framework/others/js/jquery.flexslider-min.js"></script>    
    <script src="framework/others/js/jquery.fly.min.js"></script>    
    <script src="framework/others/js/jquery.cookie.js"></script>    
    <script src="framework/others/js/angular-file-upload.js"></script>  
    <script src="framework/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="framework/main.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>

</head>


<body class="nav-md">

    <div class="container body" ng-controller="sp_headerCtrl">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a  class="site_title"><i class="fa fa-paw"></i> <span>英特龙</span></a>
                    </div>
                    <div class="clearfix"></div>

                    

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                           
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-home"></i> 商品管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a ui-sref="suppliercenter.pdtlist">商品列表</a>
                                        </li>
                                        <li><a ui-sref="suppliercenter.pdtadd">商品信息录入</a>
                                        </li>
                                        <li><a ui-sref="suppliercenter.pdtrank">商品销售排行</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-edit"></i> 经销商管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a ui-sref="suppliercenter.agentlist">经销商查看</a>
                                        </li>
                                        <li><a ui-sref="suppliercenter.agentability">物流能力查看</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-desktop"></i> 采购单管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a ui-sref="suppliercenter.orderlist">采购单列表</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-table"></i> 导购员管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a ui-sref="suppliercenter.stafflist">导购员查看</a>
                                        </li>
                                        <li><a ui-sref="suppliercenter.staffadd">增加导购员</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-bar-chart-o"></i> 品牌信息管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a ui-sref="suppliercenter.supplierinfo">查看品牌信息</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu" >
                    <nav class="" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="image/img.jpg" alt="">{{sp_name}}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right" ng-if="sp_name">
                                    <li><a ng-click="logout()" class="hand"><i class="fa fa-sign-out pull-right"></i> 返回</a>
                                    </li>
                                </ul>
                            </li>

                            

                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" ui-view></div>
            
            <!-- /page content -->

        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
</body>

</html>
